.container-fluid {
  background-color: white;
  height: 15vh;
}

.logo-search {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  padding: 0;
}

.collapse {
  align-items: end;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-nav .nav-item .nav-link {
  color: #424040;
  font-weight: bold;
  padding: 15px 15px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
  color: white;
  cursor: pointer;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  font-size: x-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 20px;
}

.navbar-light .navbar-toggler {
  border-color: #007bff;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 123, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-item:hover {
  background-color: #973d93;
  color: white;
}

.input-group-text {
  background-color: transparent;
  cursor: pointer;
}

.input-group-text i {
  color: #5a5959;
}

.input-group {
  width: 50%;
}

.form-control .search {
  position: relative;
}


.logo-search .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #973d93;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(105, 2, 105, 0.25);
}

.dropdown-menu {
  display: none;
}

.dropdown.show .dropdown-menu {
  display: block;
}

.dropdown-menu {
  width: 13rem;
  position: absolute;
  top: 3rem;
  padding: 20px;
  cursor: pointer;
}




/* Media Queries for responsiveness */

@media (max-width: 768px) {
  .logo-search {
    flex-direction: row;
    align-items: center;
    width: 70%;
  }

  .navbar-brand {
    font-size: 1rem;
  }

  .navbar-nav {

    padding: 10px 0;
  }

  .navbar-nav .nav-item {
    margin: 5px 0;
  }

  .input-group {
    width: 100%;
  }
}

/* @media (max-width: 400px) {
  .input-group input {
    display: none;
  }

  .input-group-text {
    border: none;
 
  }

} */

@media (max-width: 350px) {
  .logo-search a {
    font-size: 10px;
  }
}