<div>
    <div>
        <div class="image-container">
            <img src="../../../assets/images/donations/donation.jpg" alt="Descriptive Alt Text">
        </div>
        <div class="overlay-text">
            Together We Can Make a Difference,
            <br> Help Those in Need
        </div>
        <div class="overlay-button">
            <button class="button">Help Us Keep Track</button>
            <button class="button">Donate now!</button>
        </div>
    </div>
    <div>
        <div class="partner-section d-flex flex-column align-items-center mt-4 mb-5">
            <h3 class="mt-2 mb-5">How its work</h3>
            <div class="about-us row d-flex col-12 justify-content-center">
                <div class="Features col-12 col-sm-6 col-md-4 d-flex flex-column align-items-center mb-4">
                    <img src="https://getwardrobe.com/tldimages/tild6262-6638-4830-b636-366237303666__devices.svg"
                        alt="">
                    <div class="features-name mt-3">Donate online</div>
                </div>
                <div class="Features col-12 col-sm-6 col-md-4 d-flex flex-column align-items-center mb-4">
                    <img src="https://getwardrobe.com/tldimages/tild3937-3631-4664-b134-373663633431__calendar.svg" alt="">
                    <div class="features-name mt-3">Schedule a Pickup</div>
                </div>
                <div class="Features col-12 col-sm-6 col-md-4 d-flex flex-column align-items-center mb-4">
                    <img src="https://getwardrobe.com/tldimages/tild3565-6565-4436-b735-326634653538__1470052787_human_fam.svg"
                        alt="">
                    <div class="features-name mt-3">Reaches Those in Need</div>
                </div>
            </div>
        </div>
    </div>

</div>