<div class="container">
    <!-- Only show if the order is confirmed -->
    <div *ngIf="isOrderConfirmed" class="confirmed-order">
        <i class="bi bi-check-circle-fill order-icon"></i>
        <h3>Order Confirmed</h3>
        <p>Thank you for your order! Your order has been successfully placed.</p>
    </div>

    <!-- Hide the rest of the checkout flow if the order is confirmed -->
    <div *ngIf="!isOrderConfirmed">
        <div class="card-body" *ngIf="!showPaymentMethod">
            <div class="payment-type">
                <div class="types flex justify-space-between">
                    <div class="type" [ngClass]="{ selected: selectedType === 'delivery' }"
                        (click)="selectType('delivery')">
                        <div class="logo">
                            <i class="far fa-credit-card"></i>
                        </div>
                        <div class="text">
                            <p>Buy for myself</p>
                        </div>
                    </div>
                    <div class="type" [ngClass]="{ selected: selectedType === 'donate' }"
                        (click)="selectType('donate')">
                        <div class="logo">
                            <i class="fa-solid fa-hand-holding-hand"></i>
                        </div>
                        <div class="text">
                            <p>Donation</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="payment-info flex justify-space-between" *ngIf="selectedType === 'delivery'">
                <div class="column billing">
                    <!-- Add Address Section -->
                    <div class="title" (click)="toggleSection('addAddress')">
                        <div class="num">1</div>
                        <h4>Add Address</h4>
                    </div>

                    <div *ngIf="activeSection === 'addAddress'">
                        <form [formGroup]="checkoutForm" (ngSubmit)="addressCreated(checkoutForm.value)" class="mt-1">


                            <div class="field full">
                                <label for="address">Building No & Name <small>*</small></label>
                                <input formControlName="address" type="text" id="address" name="address">
                                <div
                                    *ngIf="checkoutForm.controls['address'].invalid && (checkoutForm.controls['address'].dirty || checkoutForm.controls['address'].touched)">
                                    <small class="error"
                                        *ngIf="checkoutForm.controls['address'].errors?.['required']">Address is
                                        required.</small>
                                </div>
                            </div>
                            <div class="flex justify-space-between">
                                <div class="field half">
                                    <label for="city">City <small>*</small></label>
                                    <input formControlName="city" type="text" id="city" name="city">
                                    <div
                                        *ngIf="checkoutForm.controls['city'].invalid && (checkoutForm.controls['city'].dirty || checkoutForm.controls['city'].touched)">
                                        <small class="error"
                                            *ngIf="checkoutForm.controls['city'].errors?.['required']">City is
                                            required.</small>
                                    </div>
                                </div>
                                <div class="field half">
                                    <label>State <small>*</small></label>
                                    <input formControlName="state" type="text" id="state" name="state">
                                    <div
                                        *ngIf="checkoutForm.controls['state'].invalid && (checkoutForm.controls['state'].dirty || checkoutForm.controls['state'].touched)">
                                        <small class="error"
                                            *ngIf="checkoutForm.controls['state'].errors?.['required']">State is
                                            required.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-space-between">
                                <div class="field half">
                                    <label>Landmark</label>
                                    <input formControlName="landMark" type="text" id="landmark" name="landmark">
                                </div>
                                <div class="field half">
                                    <label for="postalCode">Postal Code <small>*</small></label>
                                    <input formControlName="pincode" type="text" id="postalCode" name="postalCode">
                                    <div
                                        *ngIf="checkoutForm.controls['pincode'].invalid && (checkoutForm.controls['pincode'].dirty || checkoutForm.controls['pincode'].touched)">
                                        <small class="error"
                                            *ngIf="checkoutForm.controls['pincode'].errors?.['required']">Postal Code is
                                            required.</small>
                                        <small class="error"
                                            *ngIf="checkoutForm.controls['pincode'].errors?.['pattern']">Postal Code
                                            must be 5 digits.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-space-between">
                                <div class="field half">
                                    <label>Mobile: <small>*</small></label>
                                    <input formControlName="mobile" type="text" id="mobile" name="mobile">
                                    <div
                                        *ngIf="checkoutForm.controls['mobile'].invalid && (checkoutForm.controls['mobile'].dirty || checkoutForm.controls['mobile'].touched)">
                                        <small class="error"
                                            *ngIf="checkoutForm.controls['mobile'].errors?.['required']">Mobile number
                                            is required.</small>
                                        <small class="error"
                                            *ngIf="checkoutForm.controls['mobile'].errors?.['pattern']">Invalid
                                            format</small>
                                    </div>
                                </div>
                                <div class="field half">
                                    <label>Locality <small>*</small></label>
                                    <input formControlName="locality" type="text" id="locality" name="locality">
                                    <div
                                        *ngIf="checkoutForm.controls['locality'].invalid && (checkoutForm.controls['locality'].dirty || checkoutForm.controls['locality'].touched)">
                                        <small class="error"
                                            *ngIf="checkoutForm.controls['locality'].errors?.['required']">Locality is
                                            required.</small>
                                    </div>
                                </div>
                            </div>

                            <div class="card-actions mt-4">
                                <div class="d-flex justify-content-center">
                                    <button class="button" [disabled]="checkoutForm.invalid"
                                        type="submit">Proceed</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Select Address Section -->
                    <div *ngIf="addressList.length > 0">
                        <div class="title" (click)="toggleSection('selectAddress')">
                            <div class="num">2</div>
                            <h4>Select Address</h4>
                        </div>

                        <div *ngIf="activeSection === 'selectAddress'">
                            <div class="row">
                                <div class="col-md-6" *ngFor="let address of addressList">
                                    <div class="card mb-5" style="width: 100%; min-height: 50px;">
                                        <div class="card-body">
                                            <h6 class="card-subtitle mb-2 text-muted">
                                                <input type="radio" name="selectedAddress"
                                                    (change)="selectAddress(address)" class="position-absolute"
                                                    style="top: 25px; right: 180px;" />
                                                &nbsp;
                                            </h6>
                                            <p class="card-text">
                                                {{ address.address }}, {{ address.city }}, {{ address.state }}, {{
                                                address.locality }}, {{ address.pincode }}
                                            </p>
                                            <p class="card-text">Mobile: {{ address.mobile }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-actions mt-4">
                                <div class="d-flex justify-content-center">
                                    <button class="button" [disabled]="!selectedAddress" (click)="selectExistingAddress()" type="submit">Proceed</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

            <div class="donation payment-info flex justify-space-between" *ngIf="selectedType === 'donate'">
                <div class="column shipping">
                    <div class="title">
                        <div class="num">1</div>
                        <h4>Select place</h4>
                    </div>
                    <div class="form-group">
                        <select id="paymentTypeSelect" class="form-select" [(ngModel)]="selectedPlace">
                            <option value="" disabled selected></option>
                            <option *ngFor="let item of disasterList" [value]="item.id">{{ item.name }}</option>
                        </select>
                    </div>
                    <div class="card-actions mt-4">
                        <div class="d-flex justify-content-center">
                            <button class="button" type="submit" [disabled]="!selectedPlace"
                                (click)="proceedToPayment()">Proceed</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Payment Method Section -->
        <div class="payment-method-section payment-info mt-4" *ngIf="showPaymentMethod">
            <label>Select Payment Method</label>
            <div class="form-group">
                <select class="form-select" [(ngModel)]="selectedPaymentMethod">
                    <option value="ONLINE">UPI</option>
                    <option value="COD" [disabled]="selectedType === 'donate'">Cash on Delivery</option>
                </select>
            </div>

            <!-- Show UPI ID Input if UPI is selected -->
            <div class="form-group mt-3" *ngIf="selectedPaymentMethod === 'ONLINE'">
                <label for="upiId">Enter UPI ID</label>
                <input type="text" id="upiId" class="form-control" placeholder="e.g., username@bank"
                    [(ngModel)]="upiId">
            </div>
            <div class="card-actions mt-4">
                <div class="d-flex justify-content-center">
                    <button class="button" [disabled]="isNextButtonDisabled()" (click)="confirmOrder()">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>