.input-group {
    position: relative;
    width:45%
  }
  
  .input-group-text {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
    padding: .375rem .75rem;
   
  }
  
  .form-control {
    padding-right: 2.5rem; 
  }
  
  .input-group-text .fas {
    color: #6c757d; 
  }
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  
  .h1 {
    color: #a1393e;
    
    font-size: 30px;
    margin-top: 50px;
  }
  .processing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    font-weight: 700;
  }
  .card{
    padding: 10px;
    
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  th{
    font-size:medium;
  }
  td{
    font-size:small;
  }