.input-group {
    position: relative;
    width:45%
  }
  
  .input-group-text {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
    padding: .375rem .75rem;
   
  }
  
  .form-control {
    padding-right: 2.5rem; 
  }
  
  .input-group-text .fas {
    color: #6c757d; 
  }