<div class="container">
  
    <div class="row  ">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
            <div class="card" style="width: 15rem;">
                <img src="../../././../assets/fashionable-woman-posing.jpg" class="card-img-top" alt="..." routerLink="/shopping/detailsPage">
                <div class="card-body">
                    <h5 class="card-title">ZARA</h5>
                    <p class="card-text">Women Crop Top.</p>
                    <button class="cart-button button" (click)="cartClick()">
                        <span class="add-to-cart">Add to cart</span>
                            <span class="added" routerLink="/shopping/cart">Go to cart <i class="bi bi-cart-check" ></i></span>
                    </button>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
            <div class="card" style="width: 15rem;">
                <img src="../../././../assets/fashionable-woman-posing.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ZARA</h5>
                    <p class="card-text">Women Crop Top.</p>
                    <button class="button">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
            <div class="card" style="width: 15rem;">
                <img src="../../././../assets/fashionable-woman-posing.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ZARA</h5>
                    <p class="card-text">Women Crop Top.</p>
                    <button class="button">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
            <div class="card" style="width: 15rem;">
                <img src="../../././../assets/fashionable-woman-posing.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ZARA</h5>
                    <p class="card-text">Women Crop Top.</p>
                    <button class="button">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
            <div class="card" style="width: 15rem;">
                <img src="../../././../assets/fashionable-woman-posing.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ZARA</h5>
                    <p class="card-text">Women Crop Top.</p>
                    <button class="button">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
            <div class="card" style="width: 15rem;">
                <img src="../../././../assets/portrait-young-stylish-girl-model-casual-summer-clothes-with-natural-makeup-sunglasses-isolated.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ZARA</h5>
                    <p class="card-text">Women Crop Top.</p>
                    <button class="button">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
            <div class="card" style="width: 15rem;">
                <img src="../../././../assets/young-beautiful-woman-looking-camera-trendy-girl-casual-summer-white-t-shirt-yellow-skirt-round-sunglasses-positive-female-shows-facial-emotions-funny-model-isolated-blue.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ZARA</h5>
                    <p class="card-text">Women Crop Top.</p>
                    <button class="button">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
            <div class="card" style="width: 15rem;">
                <img src="../../././../assets/fashionable-woman-posing.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ZARA</h5>
                    <p class="card-text">Women Crop Top.</p>
                    <button class="button">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>




  