.row {
  margin-top: 90px;
}
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background-color: white;
  cursor: pointer;
  position: relative;
}
.card:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%; 
  background-color: white; 
  z-index: 1;
  transition: height 0.2s;
}
.card:hover {
  transform: translateY(-10px);
}
.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  object-fit: cover;
}
.card-body {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-title {
  font-weight: bold;
  font-size: 1.25rem;
}
.card-text {
  color: #6c757d;
}
.cart-button span.added {
  display: none;
}
.cart-button span.added.show {
  display: block;
}
span.add-to-cart.hide {
  display: none;
}
span.add-to-cart {
  display: block;
}
.wishlist-icon {
  position: absolute;
  top: 5px;
  left: 145px;
  margin-left: 60px !important;
  font-size: x-large;
}
.wishlist-icon .fill {
  color: red;
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader img{
  object-fit: cover;
}
.empty_state{min-height: 50vh;padding-top: 10vh;}
@media (max-width:993px) {
  .wishlist-icon {
    left: 120px;
  }
}
@media (max-width:767px) {
  .wishlist-icon {
    left: 145px;
  }
}
@media (max-width:505px) {
  .wishlist-icon {
    left: 100px;
  }
}
@media (max-width:410px) {
  .wishlist-icon {
    left: 80px;
  }
}
@media (max-width:370px) {
  .wishlist-icon {
    left: 60px;
  }
}


