<div class="container">
    <div  *ngIf="returnList.length > 0; else noRegistrations">
  <div class="text-center">
      <h2 style="color:#973d93;"class="mt-3" >Return Product Approval</h2>
  </div>
  <hr>
 
  <div class="table-responsive">
      <table class="table table-hover   p-4">
          <thead>
              <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Product Item</th>
                  <th scope="col">Image</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Size</th>
                  <th scope="col">Refund Amount</th>
                  <th scope="col">Refund Date</th>
                  <th scope="col">Return Reason</th>
                  <th scope="col">Returned Quantity</th>
                  <th scope="col">Status</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of returnList">
                  <td>{{item.product_name}}</td>
                  <td>{{item.product_item}}</td>
                  <td><img src="{{item.product_image}}" alt="Product Image" class="img-fluid" style="max-width: 50px;"></td>
                  <td>{{item.product_price}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.size}}</td>
                  <td>{{item.refund_amount}}</td>
                  <td>{{item.refund_date|date}}</td>
                  <td>{{item.return_reason}}</td>
                  <td>{{item.returned_quantity}}</td>
                  <td>
                      <div class="d-flex justify-content-between">
                          <button type="button" class="btn btn-outline-success btn-sm" (click)="approve(item,'approve')">Accept</button>
                          <button type="button" class="btn btn-outline-danger btn-sm" (click)="approve(item,'reject')">Reject</button>
                      </div>
                  </td>
              </tr> 
          </tbody>
      </table>
    
  </div>
</div>
  <ng-template #noRegistrations>
    <div class="rows">
        <div class="cards" style="align-items: center;">
            <h1 class="h1">No Return Request found</h1>

        </div>
    </div>
</ng-template>
</div>

  