<nav class="sidebar1">
  <!-- <div class="profile" >
      <div class="round-image" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img [src]="uploadedImageUrl" alt="">
      </div>
      <div class="round-image" data-bs-toggle="modal" data-bs-target="#exampleModal">
      </div>
    </div>
    <div >
  
      <div class="profile" >
        <div class="round-image" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <img src="../../../assets/images/image.png" alt="">
          </div>
        </div>
      </div> -->

  <!-- <br> -->
  <ul>
    <li><a routerLink="/main">Home</a></li>
    <!-- <li><a routerLink="/admin/view%orders">View orders</a></li>
    <li><a routerLink="/admin/order%status">Order Status</a></li> -->
    <li><a routerLink="/admin/update%product">Add/Update Product</a></li>
    <!-- <li><a routerLink="/admin/addProduct">Add New Products</a></li> -->
    <li><a routerLink="/admin/donation_list">Donation List</a></li>
    <li><a routerLink="/admin/disaterstatusrequest">Disaster Request Approvel</a></li>

  </ul>
</nav>