
  <nav class="sidebar1">
    <div class="profile" >
      <div class="round-image" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <!-- <img [src]="uploadedImageUrl" alt=""> -->
      </div>
      <div class="round-image" data-bs-toggle="modal" data-bs-target="#exampleModal">
      </div>
    </div>
    <div >
  
      <div class="profile" >
        <div class="round-image" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <img src="../../../assets/images/image.png" alt="">
          </div>
        </div>
      </div>
  
    <br>
    <ul>
      <li><a routerLink="/admin/adminHome/home">Home</a></li>
      <li><a routerLink="/admin/adminHome/business">Business Directory</a></li>
      <li><a routerLink="/admin/adminHome/list">Resorts Registry</a></li>
      <li><a routerLink="/admin/adminHome/booking">Booking</a></li>
      <li><a routerLink="/admin/adminHome/history">History</a></li>
  
    </ul>
  </nav>