<div class="container mt-5">
  <!-- Welcome Message -->
  <div class="welcome-message">
    <div class="alert" role="alert">
      <h2 class="alert-heading">Welcome, Admin!</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6 col-lg-3">
      <div class="card card-custom">
        <div class="card-body">
          <h5 class="card-title">Disaster List</h5>
          <p class="card-text">View disaster records.</p>
          
        </div>
        <div class="card-footer">
          <span class="data-highlight">{{disasterListtLength}} disaster</span>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card card-custom">
        <div class="card-body">
          <h5 class="card-title">Return Approval</h5>
          <p class="card-text">Approve or reject return requests.</p>
       
        </div>
        <div class="card-footer">
          <span class="data-highlight">{{returnlistlegth}} Pending</span>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card card-custom">
        <div class="card-body">
          <h5 class="card-title">Disaster Approval</h5>
          <p class="card-text">Approve or manage disaster responses.</p>
         
        </div>
        <div class="card-footer">
          <span class="data-highlight">{{disapprovListLength}} Pending</span>
          </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="card card-custom">
        <div class="card-body">
          <h5 class="card-title">Add & Update Products</h5>
          <p class="card-text">Add new products or update existing ones.</p>
        </div>
        <div class="card-footer">
          <span class="data-highlight">{{productlength}} Products</span>
          </div>
      </div>
    </div>
  </div>
</div>
