<div>
  <div>
    <div class="image-container">
      <img src="../../../assets/images/donations/donation.jpg" alt="Descriptive Alt Text">
    </div>
    <div class="overlay-text">
      Together We Can Make a Difference,
      <br> Help Those in Need
    </div>
    <div class="overlay-button">
      <button class="button" *ngIf="authenticated" data-toggle="modal" data-target="#exampleModalCenter">Help Us Keep
        Track</button>
      <button class="button" *ngIf="!authenticated" (click)="redirectToDonationPage()">Help Us Keep Track</button>
      <button class="button" (click)="redirectToDonationPage()">Donate now!</button>
    </div>
  </div>
  <div>
    <div class="partner-section d-flex flex-column align-items-center mt-4 mb-5">
      <h3 class="mt-2 mb-5">How its work</h3>
      <div class="about-us row d-flex col-12 justify-content-center">
        <div class="Features col-12 col-sm-6 col-md-4 d-flex flex-column align-items-center mb-4">
          <img src="https://getwardrobe.com/tldimages/tild6262-6638-4830-b636-366237303666__devices.svg" alt="">
          <div class="features-name mt-3">Donate Through online</div>
        </div>
        <div class="Features col-12 col-sm-6 col-md-4 d-flex flex-column align-items-center mb-4">
          <img src="https://getwardrobe.com/tldimages/tild3937-3631-4664-b134-373663633431__calendar.svg" alt="">
          <div class="features-name mt-3">Schedule a Pickup</div>
        </div>
        <div class="Features col-12 col-sm-6 col-md-4 d-flex flex-column align-items-center mb-4">
          <img src="https://getwardrobe.com/tldimages/tild3565-6565-4436-b735-326634653538__1470052787_human_fam.svg"
            alt="">
          <div class="features-name mt-3">Reaches Those in Need</div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle" style="color:#973d93">Disaster Registeration</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="disasterForm" (ngSubmit)="onSubmit()" (click)="onFormClick()">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="username" class="form-label">Your Name:</label>
                <input id="username" class="form-control" placeholder="{{username}}" />

              </div>

              <div class="form-group">
                <label for="name" class="form-label">Select Name of Disaster:</label>
                <select class="form-select" formControlName="name" aria-label="Default select example">
                  <option value="" disabled selected>Type Of Disaster</option>
                  <option value="earthquakes">Earthquakes</option>
                  <option value="tsunamis">Tsunamis</option>
                  <option value="volcanicEruptions">Volcanic Eruptions</option>
                  <option value="floods">Floods</option>
                  <option value="droughts">Droughts</option>
                  <option value="hurricanes">Hurricanes/Typhoons/Cyclones</option>
                  <option value="tornadoes">Tornadoes</option>
                  <option value="landslides">Landslides</option>
                  <option value="wildfires">Wildfires</option>
                  <option value="industrialAccidents">Industrial Accidents</option>
                  <option value="nuclearDisasters">Nuclear Disasters</option>
                  <option value="oilSpills">Oil Spills</option>
                  <option value="transportationAccidents">Transportation Accidents</option>
                  <option value="terrorism">Terrorism</option>
                  <option value="urbanFires">Urban Fires</option>
                  <option value="climateChange">Climate Change</option>
                  <option value="deforestation">Deforestation</option>
                  <option value="pollution">Pollution</option>
                  <option value="biodiversityLoss">Biodiversity Loss</option>
                  <option value="pandemics">Pandemics</option>
                  <option value="epidemics">Epidemics</option>
                  <option value="cyberAttacks">Cyber Attacks</option>
                  <option value="infrastructureFailures">Infrastructure Failures</option>

                </select>
                <div *ngIf="disasterForm.get('name')?.invalid && disasterForm.get('name')?.touched" class="text-danger">
                  Please select a type of disaster.
                </div>
              </div>
              <div class="form-group">
                <label for="description" class="form-label">Description:</label>
                <textarea class="form-control" id="description" formControlName="description" rows="3"
                  placeholder="Any other relevant information..."></textarea>
                <div *ngIf="disasterForm.get('description')?.invalid && disasterForm.get('description')?.touched"
                  class="text-danger">
                  <div *ngIf="disasterForm.get('description')?.errors?.['maxlength']">
                    Description cannot exceed 500 characters.
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="id" class="form-label">Adhar Number:</label>
                <input id="adhar" formControlName="adhar" class="form-control" />
                <div *ngIf="disasterForm.get('adhar')?.invalid && disasterForm.get('adhar')?.touched"
                  class="text-danger">
                  Valid Aadhar Number is required (12 digits).
                </div>
              </div>
              <div class="form-group">
                <label for="location" class="form-label">Location:</label>
                <input id="location" formControlName="location" class="form-control" />
                <div *ngIf="disasterForm.get('location')?.invalid && disasterForm.get('location')?.touched"
                  class="text-danger">
                  Location required.
                </div>
              </div>
            </div>
          </div>

          <hr>
          <h3 style="color:#973d93">Requirements</h3>
          <hr>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="men" class="form-label">Dress for Men</label>
                <input type="number" id="required_men_dresses" formControlName="required_men_dresses"
                  class="form-control" placeholder="Number of Men-dress" />
                <div
                  *ngIf="disasterForm.get('required_men_dresses')?.invalid && disasterForm.get('required_men_dresses')?.touched"
                  class="text-danger">
                  Please enter a valid number for Men-dress.
                </div>
              </div>

              <div class="form-group">
                <label for="women" class="form-label">Dress for Women</label>
                <input type="number" id="required_women_dresses" formControlName="required_women_dresses"
                  class="form-control" placeholder="Number of women-dress" />
                <div
                  *ngIf="disasterForm.get('required_women_dresses')?.invalid && disasterForm.get('required_women_dresses')?.touched"
                  class="text-danger">
                  Please enter a valid number for Women-dress.
                </div>
              </div>
            </div>
            <div class="col">

              <div class="form-group">
                <label for="kid" class="form-label">Dress for Kid</label>
                <input type="number" id="kid" formControlName="required_kids_dresses" class="form-control"
                  placeholder="Number of Kid-dress" />
                <div
                  *ngIf="disasterForm.get('required_kids_dresses')?.invalid && disasterForm.get('required_kids_dresses')?.touched"
                  class="text-danger">
                  Please enter a valid number for Kid-dress.
                </div>
              </div>

            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="button" data-dismiss="modal">Close</button>
            <button type="submit" class="button" [disabled]="disasterForm.invalid">Register</button>
            
          </div>
        </form>


      </div>
    </div>
  </div>
</div>