<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <img src="../../../assets/fashionable-woman-posing.jpg" alt="Product Image" class="product-image">
        </div>
        <div class="col-md-6">
            <h1 class="product-title">Women crop top</h1>
            <p class="product-price"> Rs 599</p>
            <p class="product-description">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente porro quam atque quidem autem vitae ipsum, doloribus pariatur nisi, cupiditate itaque harum dolorem nihil, reprehenderit possimus perspiciatis animi voluptatibus maxime?
            </p>
             <div class="row">
                <b class="col">Size:</b>
                <div class="col">XL</div>
                <div class="col">L</div>
                <div class="col">M</div>
                <div class="col">S</div>
            </div>
            <button class="btn btn-primary btn-lg mt-3">Add to Cart</button>
        </div>
    </div>
</div>