.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.card-header {
    background-color:#973d93;
    color: white;
    padding: 15px;
    border-radius: 15px 15px 0 0;
}
.form-group label {
    font-weight: bold;
}
.form-control, .form-select {
    border-radius: 10px;
}
.form-control::placeholder {
    color: #6c757d;
}
.form-control:focus {
    box-shadow: none;
    border-color: #28a745;
}
.btn-custom {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}
.btn-custom:hover {
    background-color: #218838;
    color: white;
}
img {
   
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
    object-fit:cover;
  }
  .preview{

    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
  }
  
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.preview {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-container {
    position: relative;
    margin: 10px;
  }
  
  .remove-icon {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: rgb(107, 3, 3);
  }
  .processing-order {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    font-weight: 700;
    background: transparent;
  }
  input[type="file"]::file-selector {
    display: none;
  }
  
  .custom-file-label {
    display: inline-block;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
  }