<div >
    <div style="text-align: center;">
      <h2 class="animated-h2">Return order Requests</h2>
    </div>
    <br>
    <table class="table table-secondary table-bordered" >
      <thead>
        <tr class="table-dark">
          <th scope="col">Product</th>
          <th scope="col">User</th>
          <th scope="col">Date of Delivared</th>
          <th scope="col">Quantity</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <th></th>
          <td></td>
          <!-- <td>{{ item.data.userId | titlecase }}</td> -->
          <td></td>
          <td></td>
        </tr>
        
      </tbody>
    </table>
  </div>
  
  <div>
    <!-- <div class="loading">
      <h1 class="mt-5">Fetching your details, please wait...</h1>
      <img src="../../../assets/images/1488 (1).gif">   
    </div>
  </div> -->
  
  
  