<div class="card mt-4">
<form [formGroup]="list"  (ngSubmit)="onSubmit()">

    <div class="row align-items-center ">
      <div class="col-md-2">
        <label for="disasterSelect" class="form-label" style="font-size: large;font-weight: bold;">Select Disaster</label>
      </div>
      <div class="col-md-6">
        <select class="form-select" id="disasterSelect" formControlName="disaster">
          <option value="" disabled selected>Disaster and Location</option>
          <option *ngFor="let disaster of data" [value]="disaster.id">
            {{disaster.name}} ,{{disaster.location}}

          </option>
    
        </select>
      </div>
      <div class="col-md-4">
        <button type="submit" class="button" [disabled]="list.invalid">Submit</button>

      </div>
    </div>
    <!-- <div class="card" *ngIf="donationlist">
      <div class="card-body">
        <div class="row">
          <div class="col-4 border-end">
            <p><strong>Kids Dresses:</strong></p>
            <p>Required: <span style="color: red;">{{donationlist.required_kids_dresses}}</span></p>
            <p>Fulfilled: <span style="color: green;">{{donationlist.fulfilled_kids_dresses}}</span></p>
          </div>
          <div class="col-4 border-end">
            <p><strong>Men Dresses:</strong></p>
            <p>Required: <span style="color: red;">{{donationlist.required_men_dresses}}</span></p>
            <p>Fulfilled: <span style="color: green;">{{donationlist.fulfilled_men_dresses}}</span></p>
          </div>
          <div class="col-4">
            <p><strong>Women Dresses:</strong></p>
            <p>Required: <span style="color: red;">{{donationlist.required_women_dresses}}</span></p>
            <p>Fulfilled: <span style="color: green;">{{donationlist.fulfilled_women_dresses}}</span></p>
          </div>
        </div>
      </div>
    </div> -->
 
</form>
</div>
<div >
    <div style="text-align: center;">
      <h2 class="mt-2" style="color:#973d93"> Donation List</h2>
    </div>
    <br>
  
    <table class="table table-striped  table-hoverz">

      <thead>
        <th scope="col">Doner</th>
        <th scope="col">Donated_on</th>
        <th scope="col">Men Required Dress</th>
        <th scope="col">Women Required Dress</th>
        <th scope="col">Kids Required Dress</th>
        <th scope="col">Pickup Location</th>
      </thead>
      <tbody>
      <tr *ngFor="let item of donationlist">
        <td>{{item.donor_name}}</td>
        <td>{{item.donated_on}}</td>
        <td>{{item.men_dresses}}</td>
        <td>{{item.kids_dresses}}</td>
        <td>{{item.women_dresses}}</td>
        <td>{{item.pickup_location}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  
  <div>
</div>
