.card{
    padding: 20px;
    background-color: white;
}
th{
    font-size:medium;
}
.processing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    font-weight: 700;
  }