.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.animated-h2{
    /* background-image: url('../../../assets/images/giphy2.webp'); */
    /* background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text; */
    font-weight: 900;
}
p{
    cursor: pointer;
    color: blue;
    font-size: 15px;
    margin-bottom: 1px;
}
.custom-modal-width {
    max-width: 80%; 
    width: 900px;   
}
.checkbox-group{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.category-group{
    display: flex;
    justify-content: space-between;
}
.modal-headers{
    position: relative;
    top: 5px;
    left: 95%;
}
.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 20px;
}
.card-header {
    background-color:#2e2d2e;
    color: white;
    padding: 15px;
    border-radius: 15px 15px 0 0;
}
.form-group {
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
  }
  
  .form-check-input {
    margin-right: 0.5rem;
  }
  
  .form-check-label {
    margin-bottom: 0;
  }
  
  .d-flex {
    display: flex;
    flex-direction: column;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }