.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.animated-h2{
    /* background-image: url('../../../assets/images/giphy2.webp'); */
    /* background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text; */
    font-weight: 900;
}
p{
    cursor: pointer;
    color: blue;
    font-size: 15px;
    margin-bottom: 1px;
}
.custom-modal-width {
    max-width: 80%; 
    width: 900px;   
}
.checkbox-group{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.category-group{
    display: flex;
    justify-content: space-between;
}
.modal-headers{
    position: relative;
    top: 5px;
    left: 95%;
}
.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

}
.card[_ngcontent-ng-c3607592353] {
  padding: 10px;
}
.form-group {
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
  }
  
  .form-check-input {
    margin-right: 0.5rem;
  }
  
  .form-check-label {
    margin-bottom: 0;
  }
  
  .d-flex {
    display: flex;
    flex-direction: column;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  th{
    font-size:medium;
  }
  td{
    font-size:small;
  }
  .card{
    padding: 20px;
  }

  .input-group {
    position: relative;
    width:45%
  }
  
  .input-group-text {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
    padding: .375rem .75rem;
   
  }
  
  .form-control {
    padding-right: 2.5rem; 
  }
  
  .input-group-text .fas {
    color: #6c757d; 
  }
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .h1 {
    color: #a1393e;
    
    font-size: 30px;
    margin-top: 50px;
  }
  .processing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    font-weight: 700;
  }