
<div class="container mt-2">
    <div *ngIf="loading" class="loading-spinner">
        <div class="loader">

            <img src="../../../assets/images/loaders/spinner.gif" alt="">
        </div>
    </div>
    <div *ngIf="!loading">
        <div class="col-12 wishlist mb-3 mt-2" *ngIf="wishlistData?.length > 0; else nodata">
            <h3 class="wishlist-text">Wishlist - {{ wishlistData.length }} items</h3>
            <div class="inside-wishlist">
              <hr>
              <div class="row equal-height-cards">
                
                <div  class="col-6 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center" *ngFor="let data of wishlistData">
                  <div class="card" style="width: 15rem; margin-left: 0px;">
                    <div class="card-img-container" (click)="redirectToDetailPage(data)">
                      <img [src]="data.product_image ? data.product_image : '../../../assets/images/loaders/images.png'" class="card-img-top" alt="Product Image" >
                    </div>
                    <div class="card-body">
                      <p class="card-title">{{ data.product_name | uppercase | slice: 0: 15 }}{{ data.length > 0 ? '' : '....' }}</p>
                      <p class="card-text">{{ data.product_description | slice: 0: 20 }}{{ data.length > 0 ? '' : '....' }}</p>
                      <p>{{ data.product_price | currency: 'INR' }}</p>
                      <div class="d-flex justify-content-between">
                        <!-- <button class="cart-button button" (click)="addToCart(data.product, data.id)">
                          <span class="add-to-cart">Add to cart</span>
                        </button> -->
                        <button class="cart-button button" (click)="removeItemFromWishlist(data.product)">
                          <span class="add-to-cart">Remove</span>
                          
                        </button>
                        
                        <!-- <i class="bi bi-trash3" style="cursor: pointer;" (click)="removeItemFromWishlist(data.id)"></i> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <ng-template #nodata>
            <div class="empty cart">
                <div class="empty-cart">
    
                    <svg viewBox="656 573 264 182" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="shopping-bag" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                            transform="translate(721.000000, 630.000000)">
                            <polygon id="Fill-10" fill="#FFA800" points="4 29 120 29 120 0 4 0"></polygon>
                            <polygon id="Fill-14" fill="#FFE100" points="120 29 120 0 115.75 0 103 12.4285714 115.75 29">
                            </polygon>
                            <polygon id="Fill-15" fill="#FFE100" points="4 29 4 0 8.25 0 21 12.4285714 8.25 29"></polygon>
                            <polygon id="Fill-33" fill="#FFA800" points="110 112 121.573723 109.059187 122 29 110 29">
                            </polygon>
                            <polygon id="Fill-35" fill-opacity="0.5" fill="#FFFFFF" points="2 107.846154 10 112 10 31 2 31">
                            </polygon>
                            <path
                                d="M107.709596,112 L15.2883462,112 C11.2635,112 8,108.70905 8,104.648275 L8,29 L115,29 L115,104.648275 C115,108.70905 111.7365,112 107.709596,112"
                                id="Fill-36" fill="#FFE100"></path>
                            <path
                                d="M122,97.4615385 L122,104.230231 C122,108.521154 118.534483,112 114.257931,112 L9.74206897,112 C5.46551724,112 2,108.521154 2,104.230231 L2,58"
                                id="Stroke-4916" stroke="#000000" stroke-width="3" stroke-linecap="round"></path>
                            <polyline id="Stroke-4917" stroke="#000000" stroke-width="3" stroke-linecap="round"
                                stroke-linejoin="round" points="2 41.5 2 29 122 29 122 79"></polyline>
                            <path
                                d="M4,50 C4,51.104 3.104,52 2,52 C0.896,52 0,51.104 0,50 C0,48.896 0.896,48 2,48 C3.104,48 4,48.896 4,50"
                                id="Fill-4918" fill="#000000"></path>
                            <path d="M122,87 L122,89" id="Stroke-4919" stroke="#000000" stroke-width="3"
                                stroke-linecap="round"></path>
                            <polygon id="Stroke-4922" stroke="#000000" stroke-width="3" stroke-linecap="round"
                                stroke-linejoin="round" points="4 29 120 29 120 0 4 0"></polygon>
                            <path
                                d="M87,46 L87,58.3333333 C87,71.9 75.75,83 62,83 L62,83 C48.25,83 37,71.9 37,58.3333333 L37,46"
                                id="Stroke-4923" stroke="#000000" stroke-width="3" stroke-linecap="round"></path>
                            <path d="M31,45 C31,41.686 33.686,39 37,39 C40.314,39 43,41.686 43,45" id="Stroke-4924"
                                stroke="#000000" stroke-width="3" stroke-linecap="round"></path>
                            <path d="M81,45 C81,41.686 83.686,39 87,39 C90.314,39 93,41.686 93,45" id="Stroke-4925"
                                stroke="#000000" stroke-width="3" stroke-linecap="round"></path>
                            <path d="M8,0 L20,12" id="Stroke-4928" stroke="#000000" stroke-width="3" stroke-linecap="round">
                            </path>
                            <path d="M20,12 L8,29" id="Stroke-4929" stroke="#000000" stroke-width="3"
                                stroke-linecap="round"></path>
                            <path d="M20,12 L20,29" id="Stroke-4930" stroke="#000000" stroke-width="3"
                                stroke-linecap="round"></path>
                            <path d="M115,0 L103,12" id="Stroke-4931" stroke="#000000" stroke-width="3"
                                stroke-linecap="round"></path>
                            <path d="M103,12 L115,29" id="Stroke-4932" stroke="#000000" stroke-width="3"
                                stroke-linecap="round"></path>
                            <path d="M103,12 L103,29" id="Stroke-4933" stroke="#000000" stroke-width="3"
                                stroke-linecap="round"></path>
                        </g>
                        <circle id="oval" stroke="#3CBC83" stroke-width="2" fill="none" cx="896" cy="680" r="3"></circle>
                        <polygon id="diamond" stroke="#C46F82" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" fill="none" points="886 705 889 708 886 711 883 708"></polygon>
                        <path
                            d="M736,577 C737.65825,577 739,578.34175 739,580 C739,578.34175 740.34175,577 742,577 C740.34175,577 739,575.65825 739,574 C739,575.65825 737.65825,577 736,577 Z"
                            id="bubble-rounded" stroke="#3CBC83" stroke-width="1" stroke-linecap="round"
                            stroke-linejoin="round" fill="none"></path>
                    </svg>
    
                    <h3>Your Wishlist is empty</h3>
                </div>
            </div>
        </ng-template>
    </div>
    </div>
