<div class="container-fluid mt-2">
    <div class="col-12 wishlist mb-3 mt-2">
        <h3 class="wishlist-text">Wishlist - 2 items</h3>

        <div class="inside-wishlist">
            <hr>
            <section class="row">
                <div class="col-md-2">
                    <img src="../../../assets/images/everlaneStyle/portrait-handsome-confident-stylish-hipster-lambersexual-modelsexy-modern-man-dressed-white-shirt-trousers-fashion-male-posing-street-background-europe-city-sunset-sunglasses_158538-21210.jpg"
                        alt="Product Image" class="img-fluid">
                </div>
                <div class="col-md-5">
                    <p>Product details lorem ipsum dolor sit amet adipiscing elit.</p>
                </div>
                <div class="col-md-2 ">
                    <span class="instock" *ngIf="stockUpdate"> IN STOCK</span>
                    <span class="outofstock" *ngIf="outofstockUpdate"> OUT OF STOCK</span>
                </div>
                <div class="col-md-1">
                    <i class="bi bi-trash3"></i>
                </div>
                <div class="col-md-2">
                    <button class="cart-button button" (click)="cartClick($event)">
                        <span class="add-to-cart">Add to cart</span>
                        <span class="added" routerLink="/shopping/cart">Go to cart <i
                                class="bi bi-cart-check"></i></span>
                    </button>
                </div>
            </section>
            <hr>
            <section class="row mb-3">
                <div class="col-md-2">
                    <img src="../../../assets/images/everlaneStyle/portrait-handsome-confident-stylish-hipster-lambersexual-modelsexy-modern-man-dressed-white-shirt-trousers-fashion-male-posing-street-background-europe-city-sunset-sunglasses_158538-21210.jpg"
                        alt="Product Image" class="img-fluid">
                </div>
                <div class="col-md-5">
                    <p>Product details lorem ipsum dolor sit consectetur adipiscing elit.</p>
                </div>
                <div class="col-md-2">
                    <span class="instock" *ngIf="outofstockUpdate"> IN STOCK</span>
                    <span class="outofstock" *ngIf="stockUpdate"> OUT OF STOCK</span>
                </div>
                <div class="col-md-1">
                    <i class="bi bi-trash3"></i>
                </div>
                <div class="col-md-2">
                    <button class="cart-button button" (click)="cartClick($event)">
                        <span class="add-to-cart">Add to cart</span>
                        <span class="added" routerLink="/shopping/cart">Go to cart <i
                                class="bi bi-cart-check"></i></span>
                    </button>
                </div>
            </section>
        </div>
    </div>
</div>
