<div *ngIf="isProcesing" class="processing">
  <div class="processing-spinner">
      <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Processing...</span>
      </div>
      <p class="mt-3">Fetching data.., please wait...</p>
  </div>
</div>
<div *ngIf="!isProcesing">
<div style="text-align: center;">
  <h2 class="mt-2" style="color:#973d93">All Orders</h2>
</div>


<div class="table-responsive">
  <table class="table mt-2" >
      <thead>
        <tr >
          <th>Date</th>
          <th>Order Code</th>
          <th>User</th>
          <th>Payment Method</th>
          <th>Payment Status</th>
     
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of AllOrders" >
          <td>{{order.created_on|date}}</td>
         <td>{{order.order_code}}</td>
         <td>{{order.user}}</td>
         <!-- <td>{{order.da}}</td> -->
         <td>{{order.payment_method}}</td>
         <td>{{order.payment_status}}</td>
       

        
        </tr>
        
      </tbody>
    </table>
    <div class="pagination-controls text-center my-3">
      <button class="button btn-outline-primary rounded-pill mx-2" (click)="loadPreviousPage()"
        [disabled]="!previous">Previous</button>
      <span class="mx-2">Page {{ currentPage }}</span>
      <button class="button btn-outline-primary rounded-pill mx-2" (click)="loadNextPage()"
        [disabled]="!next">Next</button>
    </div>
  </div>
</div>
    <!-- <div class="loading">
      <h1 class="mt-5">Fetching your details, please wait...</h1>
      <img src="../../../assets/images/1488 (1).gif">   
    </div>
  </div> -->
  
  
  