<div >
    <div style="text-align: center;">
      <h2 class="animated-h2">List of orders</h2>
    </div>
    <br>
    <table class="table table-secondary table-bordered" >
      <thead>
        <tr class="table-dark">
          <th scope="col">Product</th>
          <th scope="col">User</th>
          <th scope="col">Quantity</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>
            <img src="../../../assets/images/everlaneStyle/portrait-handsome-confident-stylish-hipster-lambersexual-modelsexy-modern-man-dressed-white-shirt-trousers-fashion-male-posing-street-background-europe-city-sunset-sunglasses_158538-21210.jpg" alt="">
          </td>
          <td></td>
          <!-- <td>{{ item.data.userId | titlecase }}</td> -->
          <td></td>
          <td class=""><button class="btn btn-outline-success ">edit</button>  &nbsp;<button class="btn btn-outline-danger ">delete</button></td>
        </tr>
        
      </tbody>
    </table>
  </div>
  
  <div>
    <!-- <div class="loading">
      <h1 class="mt-5">Fetching your details, please wait...</h1>
      <img src="../../../assets/images/1488 (1).gif">   
    </div>
  </div> -->
  
  
  