.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.animated-h2{
    /* background-image: url('/src/assets/images/loaders/giphy2.webp');
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text; */
    font-weight: 900;
}
/* tbody{
    display: flex;
    justify-content: center;
} */
tbody img{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
}
