<!-- <div class="main">
    <div class="admin-container">
        <div class="sidebar"> -->
             <app-adminheader></app-adminheader>
           
    <div class="container-fluid">
       
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/main">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/order%status">Return Approve</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/update%product">Add/Update Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/donation_list">Donation List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/disaterstatusrequest">Disaster Request Approvel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/main">LogOut</a>
                        </li>
                    </ul>
                </div>
            </nav>
            

            <!-- Main Content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
           <router-outlet></router-outlet>
            </main>
        </div>
    </div>

           
        <!-- </div>
        <div class="admin-content">
           
        </div>

    </div>
</div> -->