
#sidebar {
  height: 100vh; 
  background-color: #494849; 
  padding-left: 0;
  padding-right: 0;
  border-right: 1px solid #dee2e6;
  position:fixed;
}
.sidebar{
  background-color:  #494849;
}


.nav-item {
  margin-bottom: 10px;
  padding:15px;
}
.nav-link {
  color: white; 
  padding: 10px 20px;
  font-weight: 500;
  text-decoration: none;
  display: block;
}

.nav-link:hover {

  color:#973d93; 
}

.nav-link.active {

  color: #973d93; 
  font-weight: bold;
}

.nav-link i {
  margin-right: 10px; 
}


.position-sticky {
  top: 0;
  z-index: 1000;
}
.nav-link.active {
  font-weight: bold;

}
a{
  font-size:medium;
}

#main-content {
  margin-left: auto;
  transition: margin-left 0.3s ease-in-out;
}

#sidebar {
  height: 100vh;
  position: fixed;
}