
<div class="card mt-2">
  <div class="row">
    <div class="col-6 d-flex justify-content-center align-items-center">
      <h2 class="mt-" style="color:#973d93">Disaster Approvement</h2>
    </div>

    <div class="col-6 ">
      <div class="input-group mb-3 mt-3">
        <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search..."
          (input)="filteredItems()" />
        <span class="input-group-text">
          <i class="fas fa-search"></i>
        </span>
      </div>

    </div>
  </div>
</div>
<div>
  <div  *ngIf="disasterReg.length > 0; else noRegistrations">
 
  <div class="table-responsive">
    <table class="table  table-hover p-4 mt-4">

      <thead>
        <th>Name</th>
        <th>DisasterName</th>

        <th>Adhar</th>
        <th>location</th>
        <th>Decription</th>
        <th>Men</th>
        <th>Women</th>
        <th>Kid</th>
        <th>Status</th>

      </thead>
      <tbody>
        <tr class="" *ngFor="let item of disasterReg">
          <td>{{item.first_name}}</td>
          <td>{{item.name}}</td>
          <td>{{item.adhar}}</td>
          <td>{{item.location}}</td>
          <td>{{item.name}},{{item.description}}</td>
          <!-- <td>{{ item.data.userId | titlecase }}</td> -->
          <td>{{item.required_men_dresses}}</td>
          <td>{{item.required_women_dresses }}</td>
          <td>{{item.required_kids_dresses}}</td>
          <td>
            <!-- <div class="row"  *ngIf= "item.is_approved=='false'"> -->
            <div class="row">
              <!-- <span class="badge badge-success">Success</span>
                <span class="badge badge-danger">Danger</span> -->
              <div class="col-6">
                <button type="button" class="btn btn-outline-success btn-sm" style="font-size: x-small; "
                  (click)="disasterApproval(item,'accept')">Accept</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-outline-danger btn-sm" style="font-size: x-small;"
                  (click)="reject(item,'false')">Reject</button>

              </div>
              <!-- <div class="col-6">
                <button type="button" class="btn btn-outline-success btn-sm" style="font-size: x-small;">Accept</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-outline-danger btn-sm" style="font-size: x-small;" >Reject</button>
            
              </div> -->
            </div>




          </td>

        </tr>

      </tbody>
    </table>
  </div>

</div>

  <ng-template #noRegistrations>
    <div class="rows">
        <div class="cards">
            <h1 class="h1">No records found</h1>

        </div>
    </div>
</ng-template>
</div>

<div>



  <!-- <div class="loading">
      <h1 class="mt-5">Fetching your details, please wait...</h1>
      <img src="../../../assets/images/1488 (1).gif">   
    </div>
  </div> -->