<div >
    <div style="text-align: center;">
      <h2 class="mt-" style="color:#973d93">Approval of Disaster Aid Requests</h2>
    </div>
    <div class="col-6 ">
      <div class="input-group mb-3 mt-3">
          <input 
            class="form-control" 
            type="text" 
            [(ngModel)]="searchText" 
            placeholder="Search..." 
            (input)="filteredItems()"
          />
          <span class="input-group-text">
            <i class="fas fa-search"></i>
          </span>
        </div>
      
  </div>
    <table class="table table-striped  table-hover ">

      <thead>
        <th scope="col">Name</th>
        <th scope="col">DisasterName</th>

        <th scope="col">Adhar</th>
        <th scope="col">location</th>
        <th scope="col">Decription</th>
        <th scope="col">Men</th>
        <th scope="col">Women</th>
        <th scope="col">Kid</th>
        <th scope="col">Status</th>

      </thead>
      <tbody>
        <tr class="" *ngFor="let item of disasterReg" >
          <td>{{item.first_name}}</td>
          <td>{{item.name}}</td>
          <td>{{item.adhar}}</td>
          <td>{{item.location}}</td>
          <td>{{item.name}},{{item.description}}</td>
          <!-- <td>{{ item.data.userId | titlecase }}</td> -->
          <td>{{item.required_men_dresses}}</td>
          <td>{{item.required_women_dresses }}</td>
          <td>{{item.required_kids_dresses}}</td>
          <td>
            <!-- <div class="row"  *ngIf= "item.is_approved=='false'"> -->
              <div class="row">
                <!-- <span class="badge badge-success">Success</span>
                <span class="badge badge-danger">Danger</span> -->
              <div class="col-6">
                <button type="button" class="btn btn-outline-success btn-sm" style="font-size: x-small; "(click)="disasterApproval(item,'accept')">Accept</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-outline-danger btn-sm" style="font-size: x-small;" (click)="reject(item,'false')">Reject</button>
            
              </div>
              <!-- <div class="col-6">
                <button type="button" class="btn btn-outline-success btn-sm" style="font-size: x-small;">Accept</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-outline-danger btn-sm" style="font-size: x-small;" >Reject</button>
            
              </div> -->
            </div>
            



          </td>

        </tr>
       
      </tbody>
    </table>
  </div>
  
  <div>
    <!-- <div class="loading">
      <h1 class="mt-5">Fetching your details, please wait...</h1>
      <img src="../../../assets/images/1488 (1).gif">   
    </div>
  </div> -->
  
  
  