<div class="cart">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 product-cart">
                <section class="mt-3">
                    <h3 class="cart-text">Shopping Cart</h3>
                </section>
                <hr>
                <div *ngFor="let item of productDetail">
                    <section class="row">
                        <div class="col-md-3">
                            <img [src]="item.product_image" alt="Product Image" class="img-fluid">
                        </div>
                        <div class="col-md-6">
                            <p>{{item.product_name}}</p>
                            <div class="quantity">
                                <button class="quantity-btn minus" 
                                        (click)="decrementQuantity(item)" 
                                        [disabled]="item.quantity === 1">-</button>
                                <input type="text" class="quantity-input" 
                                       [value]="item.quantity" readonly>
                                <button class="quantity-btn plus" 
                                        (click)="incrementQuantity(item)">+</button>
                            </div>
                            <div class="share-remove-product">
                                <section (click)="deleteCart(item.id)">Remove</section>
                                <section>&#124;</section>
                                <section>Share</section>
                            </div>
                        </div>
                        <div class="col-md-3">
                            ₹{{item.product_price}}
                        </div>
                    </section>
                    <hr>
                </div>
            </div>
            <div class="col-md-3 price-details">
                <div class="price-inner">
                    <h3>Price Details</h3>
                    <hr>
                    <div class="price-info">
                        <section>Subtotal</section>
                        <section>₹{{total}}</section>
                    </div>
                    <div class="buy-button">
                        <button routerLink="/shopping/checkout">Proceed to Buy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
