<div class="container-fluid">
    <div class="row full-height">
        <div class="profile-detail col-12 col-md-3 col-lg-3">
            <div class="my-profile">
                <div class="d-flex justify-content-between"><b>My Profile</b><b style="cursor: pointer;"><i
                            class="fa-regular fa-bell" data-toggle="modal" data-target="#exampleModalLeft"></i></b>
                </div>
                <hr>
                <div class="detail" (click)="showSection('section1')"><b>My Profile</b></div>
                <div class="detail" (click)="showSection('section2')">Change password</div>
                <div class="detail" (click)="showSection('section3')">My Orders</div>
                <div class="detail" (click)="showSection('section4')">Address</div>
                <div class="detail" (click)="showSection('section5')">My Registrations</div>
                <div class="detail" (click)="showSection('section6')">My Donations</div>
                <hr>
                <div class="detail" (click)="logout()">Logout <i class="bi bi-box-arrow-right"></i></div>

            </div>
        </div>

        <!-- notifications -->
        <div class="modal left-modal fade drawer left-align" id="exampleModalLeft" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 2001;">
            <div class="modal-dialog modal-dialog-box" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Notifications</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div *ngIf="notifications?.length > 0 else noNotifications">
                            <div *ngFor="let item of notifications; let i = index"
                                class="d-flex justify-content-between">
                                <div class="col-11">
                                    <p>{{item.description}}</p>
                                </div>
                                <div class="col-1" (click)="togglePopup(i, $event)" style="cursor: pointer;">
                                    <p><i class="fa-solid fa-ellipsis-vertical"></i></p>
                                </div>&nbsp;
                                <div *ngIf="showPopupIndex === i" class="popup">
                                    <p (click)="deleteItem(item)">Delete</p>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <ng-template #noNotifications>
                            <div class="text-center">
                                <p>No notifications available.</p>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
        <!-- notification -->

        <div class="col-12 col-md-9 col-lg-9">
            <!-- Profile Section -->
            <div *ngIf="currentSection === 'section1'">
                <div class="container p-4" *ngIf="userData">
                    <div class="mt-2">
                        <div class="profile-header text-center">
                            <i class="bi bi-person-circle fs-1 text-primary"></i>
                            <div>
                                <h4 class="d-inline ms-2" style="color:#973d93">{{userData.username}}</h4>
                            </div>
                        </div>
                        <hr>
                        <form class="mt-4" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="username" class="form-label">First Name:</label>
                                        <input id="username" class="form-control" name="first_name"
                                            [(ngModel)]="userData.first_name" required />
                                        <div *ngIf="userForm.submitted && userForm.controls['first_name']?.invalid"
                                            class="text-danger">
                                            First name is required.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="form-label">Email:</label>
                                        <input id="email" class="form-control" name="email" [(ngModel)]="userData.email"
                                            required email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                                        <div *ngIf="userForm.submitted && userForm.controls['email']?.invalid"
                                            class="text-danger">
                                            <div *ngIf="userForm.controls['email']?.errors?.['required']">Email is
                                                required.</div>
                                            <div *ngIf="userForm.controls['email']?.errors?.['pattern']">Please enter a
                                                valid email address.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="lastname" class="form-label">Last Name:</label>
                                        <input id="lastname" class="form-control" name="last_name"
                                            [(ngModel)]="userData.last_name" required />
                                        <div *ngIf="userForm.submitted && userForm.controls['last_name']?.invalid"
                                            class="text-danger">
                                            Last name is required.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class="form-label">Phone Number:</label>
                                        <input id="phone" class="form-control" name="mobile"
                                            [(ngModel)]="userData.mobile" required pattern="^[0-9]{10}$" />
                                        <div *ngIf="userForm.submitted && userForm.controls['mobile']?.invalid"
                                            class="text-danger">
                                            <div *ngIf="userForm.controls['mobile']?.errors?.['required']">Phone number
                                                is required.</div>
                                            <div *ngIf="userForm.controls['mobile']?.errors?.['pattern']">Please enter a
                                                valid 10-digit phone number.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group d-flex justify-content-center mt-4">
                                <button type="submit" style="width:20%;" class="button">
                                    <span *ngIf="!loading">Edit</span>
                                    <span *ngIf="loading">
                                        <img src="../../../assets/images/loaders/spinner.gif" alt="Loading..."
                                            style="width: 20px; height: 20px;" />
                                    </span>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!-- Password Change Section -->
            <div class="container-password" *ngIf="currentSection === 'section2'">
                <h2 class="my-4" style="color:#973d93">Password Change</h2>
                <hr>
                <form #passwordForm="ngForm" (ngSubmit)="changePassword({old_password: currentPassword.value, new_password: newPassword.value})">
                    <div class="form-row">
                      
                      <!-- Current Password -->
                      <div class="form-group col-md-6">
                        <label class="form-label" for="currentPassword">Current Password</label>
                        <div class="position-relative">
                          <input id="currentPassword" class="form-control pr-5"
                            [type]="currentPasswordVisible ? 'text' : 'password'" #currentPassword="ngModel"
                            [(ngModel)]="currentPasswordValue" name="currentPassword" required />
                            
                          <i class="bi" [ngClass]="currentPasswordVisible ? 'bi-eye-fill' : 'bi-eye'"
                            (click)="toggleCurrentPasswordVisibility()"
                            style="position: absolute; right: 20px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
                        </div>
                      </div>
                  
                      <!-- New Password -->
                      <div class="form-group col-md-6">
                        <label class="form-label" for="newPassword">New Password</label>
                        <div class="position-relative">
                          <input id="newPassword" class="form-control pr-5"
                            [type]="newPasswordVisible ? 'text' : 'password'" #newPassword="ngModel"
                            [(ngModel)]="newPasswordValue" name="newPassword" required
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" />
                  
                          <i class="bi" [ngClass]="newPasswordVisible ? 'bi-eye-fill' : 'bi-eye'"
                            (click)="toggleNewPasswordVisibility()"
                            style="position: absolute; right: 20px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
                        </div>
                  
                        <div *ngIf="newPassword.invalid && newPassword.touched" class="text-danger">
                          Password must be at least 8 characters long, with at least one uppercase letter, one
                          lowercase letter, one number, and one special character.
                        </div>
                      </div>
                  
                    </div>
                  
                    <div class="form-group d-flex justify-content-center mt-4">
                      <button type="submit" [disabled]="passwordForm.invalid" style="max-width: 200px;" class="button">
                        <span *ngIf="!loading">Change Password</span>
                        <span *ngIf="loading">
                          <img src="../../../assets/images/loaders/spinner.gif" alt="Loading..." style="width: 20px; height: 20px;" />
                        </span>
                      </button>
                    </div>
                  </form>
                  



            </div>
            <!-- my orders -->
            <div *ngIf="currentSection === 'section3'">
                <div class="container mt-3" *ngIf="ordersList.length > 0; else noOrders">
                    <h2 class="text-charcoal hidden-sm-down" style="color:#973d93">My Orders</h2>
                    <div class="row">
                        <div class="col-12">
                            <div class="list-group mb-3" *ngFor="let order of ordersList" (click)="OrderDetail(order)">
                                <div class="list-group-item p-3 bg-snow" style="position: relative;">
                                    <div class="row w-100 no-gutters">

                                        <div class="col-6 col-md order-image" *ngIf="order.items.length > 0"
                                            data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            style="cursor: pointer;">
                                            <img [src]="order.items[0].product_image" alt="" height="100px"
                                                width="100px">
                                            <span *ngIf="order.items.length > 1" class="image-count position-absolute">
                                                {{ order.items.length - 1 }} more items
                                            </span>
                                        </div>
                                        <div class="col-6 col-md order-image" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal" style="cursor: pointer;">
                                            <p class="text-pebble">{{ order.items[0].product_name | slice:0:23 }}{{
                                                order.items[0].product_name.length > 23 ? '...' : ''}}</p>
                                            <p class="text-pebble" *ngIf="order.total_amount !== '0.00'">{{
                                                order.total_amount | currency:'INR' }}</p>
                                            <small class="text-muted">ID: {{ order.order_code }}</small>
                                        </div>
                                        <div class="col-5 col-md" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <h6 class="font-weight-bold">Order Status</h6>
                                            <p [ngClass]="{
                                                'text-processing': order.order_status === 'Processing',
                                                'text-canceled': order.order_status === 'Canceled',
                                                'text-completed': order.order_status === 'Completed'
                                            }">
                                                {{ order.order_status }}
                                            </p>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <a class="btn btn-primary w-100" *ngIf="order.total_amount !== '0.00'"
                                                [href]="order.invoice?.pdf" download target="_blank">
                                                Invoice <i class="fa-solid fa-download"></i>
                                            </a>&nbsp;
                                            <!-- <a class="btn btn-light w-100"
                                                *ngIf="order.order_status === 'Processing' || order.order_status === 'Pending'"
                                                (click)="cancelOrder(order)">
                                                Cancel Order
                                            </a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div *ngIf="singleProduct && singleProduct.items.length > 0">
                                                <div *ngFor="let item of singleProduct.items">
                                                    <div class="d-flex">
                                                        <div class="order-image returned">
                                                            <img [src]="item.product_image"
                                                                alt="{{ item.product_name }}">
                                                        </div>&nbsp;&nbsp;
                                                        <div class="ml-3">
                                                            <h3 class="text-pebble">{{ item.product_name }}</h3>
                                                            <p class="text-pebble">{{ item.price | currency: 'INR' }}
                                                            </p>
                                                            <p class="text-muted">Size: {{ item.size }}</p>
                                                            <p class="text-muted">Quantity: {{ item.quantity }}</p>

                                                            <span
                                                                *ngIf="item.return_status === 'PENDING' || returnRequestSuccessful[item.id]"
                                                                style="cursor: not-allowed;color: red;">
                                                                Return requested
                                                            </span>
                                                            <span *ngIf="item.return_status === 'REJECTED'"
                                                                style="cursor: not-allowed;color: red;">
                                                                Return request Rejected
                                                            </span>
                                                            <span *ngIf="item.order_item_status === 'Canceled'"
                                                                style="cursor: not-allowed;color: red;">
                                                                Canceled
                                                            </span>
                                                            <span *ngIf="item.return_status === 'RETURNED'"
                                                                style="cursor: not-allowed;color: green;">
                                                                Return request Approved
                                                                <p class="text-muted">Return Quantity: {{
                                                                    item.returned_quantity }}</p>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <!-- Show Return button for completed orders -->
                                                    <div class="col-12 d-flex justify-content-center"
                                                        *ngIf=" singleProduct.order_status !== 'Completed' && item.order_item_status !== 'Canceled' && !orderCanceled[item.id]">
                                                        <button class="button" (click)="cancelOrder(item)">
                                                            <span *ngIf="!isCancellingOrder[item.id]">Cancel
                                                                order</span>
                                                            <span *ngIf="isCancellingOrder[item.id]">
                                                                <img src="../../../assets/images/loaders/spinner.gif"
                                                                    alt="Loading..."
                                                                    style="min-width: 20px; height: 20px;" />
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <!-- <p *ngIf="item.order_item_status === 'Canceled'">Canceled</p> -->


                                                    <!-- Show Return button for completed orders -->
                                                    <div class="d-flex justify-content-center"
                                                        *ngIf="singleProduct.order_status === 'Completed'">
                                                        <button class="button"
                                                            *ngIf="item.return_status !== 'PENDING' && selectedItem !== item && !returnRequestSuccessful[item.id] && item.return_status !== 'RETURNED' && item.return_status !== 'REJECTED'"
                                                            (click)="returnRequest(item)"
                                                            [disabled]="returnRequestSuccessful[item.id]">
                                                            <span>Return</span>
                                                        </button>
                                                    </div>

                                                    <!-- Display input fields if this item is selected -->
                                                    <div *ngIf="selectedItem === item && !returnRequestSuccessful[item.id]"
                                                        class="return-details mt-3">
                                                        <div class="form-group">
                                                            <label for="returnReason">Return Reason:</label>
                                                            <select [(ngModel)]="returnReason[item.id]"
                                                                class="form-select">
                                                                <option *ngFor="let reason of returnReasons"
                                                                    [value]="reason">{{ reason }}</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="returnQuantity">Quantity:</label>
                                                            <select id="returnQuantity" class="form-control"
                                                                [(ngModel)]="returnQuantity[item.id]">
                                                                <option
                                                                    *ngFor="let qty of getQuantityOptions(item.quantity)"
                                                                    [value]="qty">{{ qty }}</option>
                                                            </select>
                                                        </div>
                                                        <div class="d-flex justify-content-center">
                                                            <button class="button"
                                                                [disabled]="!returnReason[item.id] || !returnQuantity[item.id]"
                                                                (click)="sendReturnRequest(item.id)">
                                                                <span *ngIf="!loading">Request Return</span>
                                                                <span *ngIf="loading">
                                                                    <img src="../../../assets/images/loaders/spinner.gif"
                                                                        alt="Loading..."
                                                                        style="min-width: 40px; height: 20px;" />
                                                                </span>
                                                            </button>
                                                        </div>

                                                    </div>

                                                    <hr class="mt-3 mb-3">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noOrders>
                    <div class="rows">
                        <div class="cards">
                            <h1 class="h1">No records found</h1>
                        </div>
                    </div>
                </ng-template>
            </div>

            <!-- address section -->
            <div *ngIf="currentSection === 'section4'">
                <div *ngIf="addressMessage === 'failed'  else addressCard" id="addressFormContainer">
                    <form [formGroup]="checkoutForm" (ngSubmit)="addressCreated(checkoutForm.value)" class="mt-5">
                        <div class="col-12">
                            <label for="address">Building No & Name <small>*</small></label>
                            <input formControlName="address" type="text" id="address" name="address">
                            <div
                                *ngIf="checkoutForm.controls['address'].invalid && (checkoutForm.controls['address'].dirty || checkoutForm.controls['address'].touched)">
                                <small class="error"
                                    *ngIf="checkoutForm.controls['address'].errors?.['required']">Address is
                                    required.</small>
                            </div>
                        </div>

                        <div class="address-container">
                            <div class="col-md-6">
                                <label for="city">City <small>*</small></label>
                                <input formControlName="city" type="text" id="city" name="city">
                                <div
                                    *ngIf="checkoutForm.controls['city'].invalid && (checkoutForm.controls['city'].dirty || checkoutForm.controls['city'].touched)">
                                    <small class="error" *ngIf="checkoutForm.controls['city'].errors?.['required']">City
                                        is required.</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>State <small>*</small></label>
                                <input formControlName="state" type="text" id="state" name="state">
                                <div
                                    *ngIf="checkoutForm.controls['state'].invalid && (checkoutForm.controls['state'].dirty || checkoutForm.controls['state'].touched)">
                                    <small class="error"
                                        *ngIf="checkoutForm.controls['state'].errors?.['required']">State is
                                        required.</small>
                                </div>
                            </div>
                        </div>

                        <div class="address-container">
                            <div class="col-md-6">
                                <label>Landmark</label>
                                <input formControlName="landMark" type="text" id="landmark" name="landmark">
                            </div>
                            <div class="col-md-6">
                                <label for="pincode">Postal Code <small>*</small></label>
                                <input formControlName="pincode" type="text" id="postalCode" name="postalCode">
                                <div
                                    *ngIf="checkoutForm.controls['pincode'].invalid && (checkoutForm.controls['pincode'].dirty || checkoutForm.controls['pincode'].touched)">
                                    <small class="error"
                                        *ngIf="checkoutForm.controls['pincode'].errors?.['required']">Postal Code is
                                        required.</small>
                                    <small class="error"
                                        *ngIf="checkoutForm.controls['pincode'].errors?.['pattern']">Postal Code must be
                                        6 digits.</small>
                                </div>
                            </div>
                        </div>

                        <div class="address-container">
                            <div class="col-md-6">
                                <label>Mobile: <small>*</small></label>
                                <input formControlName="mobile" type="text" id="mobile" name="mobile">
                                <div
                                    *ngIf="checkoutForm.controls['mobile'].invalid && (checkoutForm.controls['mobile'].dirty || checkoutForm.controls['mobile'].touched)">
                                    <small class="error"
                                        *ngIf="checkoutForm.controls['mobile'].errors?.['required']">Mobile number is
                                        required.</small>
                                    <small class="error"
                                        *ngIf="checkoutForm.controls['mobile'].errors?.['pattern']">Invalid
                                        format</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Locality <small>*</small></label>
                                <input formControlName="locality" type="text" id="locality" name="locality">
                                <div
                                    *ngIf="checkoutForm.controls['locality'].invalid && (checkoutForm.controls['locality'].dirty || checkoutForm.controls['locality'].touched)">
                                    <small class="error"
                                        *ngIf="checkoutForm.controls['locality'].errors?.['required']">Locality is
                                        required.</small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group d-flex justify-content-center mt-4">
                            <button type="submit" [disabled]="checkoutForm.invalid" class="button"
                                style="width:20%;">Add</button>
                        </div>
                    </form>
                </div>
                <ng-template #addressCard>
                    <div class="add-new-border ">
                        <p class="add-new ml-5 mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-plus-lg"></i> &nbsp; ADD A NEW ADDRESS
                        </p>
                    </div>
                    &nbsp;
                    <div class="add-new-border mb-2">
                        <div class="row">
                            <div *ngFor="let item of addressList" class="mb-3">
                                <div class="card" style="background-color: #faf6fa;">
                                    <div class="card-body d-flex justify-content-between align-items-center">
                                        <div>
                                            <h5 class="card-title">{{ item.address }}</h5>
                                            <!-- <p class="card-text">{{ item.state }}</p> -->
                                            <p class="card-text">{{ item.city }}, {{ item.state }}, {{ item.locality }}
                                                {{ item.pincode }}</p>
                                            <p class="card-text">{{ item.mobile }}</p>
                                        </div>

                                        <div class="remove" style="cursor: pointer;" (click)="removeAddress(item.id)">
                                            <i class="bi bi-trash3" style="color: red;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="checkoutForm" (ngSubmit)="addressCreated(checkoutForm.value)"
                                        class="mt-5">
                                        <div class="col-12">
                                            <label for="address">Building No & Name <small>*</small></label>
                                            <input formControlName="address" type="text" id="address" name="address">
                                            <div
                                                *ngIf="checkoutForm.controls['address'].invalid && (checkoutForm.controls['address'].dirty || checkoutForm.controls['address'].touched)">
                                                <small class="error"
                                                    *ngIf="checkoutForm.controls['address'].errors?.['required']">Address
                                                    is
                                                    required.</small>
                                            </div>
                                        </div>

                                        <div class="address-container">
                                            <div class="col-md-6">
                                                <label for="city">City <small>*</small></label>
                                                <input formControlName="city" type="text" id="city" name="city">
                                                <div
                                                    *ngIf="checkoutForm.controls['city'].invalid && (checkoutForm.controls['city'].dirty || checkoutForm.controls['city'].touched)">
                                                    <small class="error"
                                                        *ngIf="checkoutForm.controls['city'].errors?.['required']">City
                                                        is required.</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>State <small>*</small></label>
                                                <input formControlName="state" type="text" id="state" name="state">
                                                <div
                                                    *ngIf="checkoutForm.controls['state'].invalid && (checkoutForm.controls['state'].dirty || checkoutForm.controls['state'].touched)">
                                                    <small class="error"
                                                        *ngIf="checkoutForm.controls['state'].errors?.['required']">State
                                                        is
                                                        required.</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="address-container">
                                            <div class="col-md-6">
                                                <label>Landmark</label>
                                                <input formControlName="landMark" type="text" id="landmark"
                                                    name="landmark">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="pincode">Postal Code <small>*</small></label>
                                                <input formControlName="pincode" type="text" id="postalCode"
                                                    name="postalCode">
                                                <div
                                                    *ngIf="checkoutForm.controls['pincode'].invalid && (checkoutForm.controls['pincode'].dirty || checkoutForm.controls['pincode'].touched)">
                                                    <small class="error"
                                                        *ngIf="checkoutForm.controls['pincode'].errors?.['required']">Postal
                                                        Code is
                                                        required.</small>
                                                    <small class="error"
                                                        *ngIf="checkoutForm.controls['pincode'].errors?.['pattern']">Postal
                                                        Code must be
                                                        6 digits.</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="address-container">
                                            <div class="col-md-6">
                                                <label>Mobile: <small>*</small></label>
                                                <input formControlName="mobile" type="text" id="mobile" name="mobile">
                                                <div
                                                    *ngIf="checkoutForm.controls['mobile'].invalid && (checkoutForm.controls['mobile'].dirty || checkoutForm.controls['mobile'].touched)">
                                                    <small class="error"
                                                        *ngIf="checkoutForm.controls['mobile'].errors?.['required']">Mobile
                                                        number is
                                                        required.</small>
                                                    <small class="error"
                                                        *ngIf="checkoutForm.controls['mobile'].errors?.['pattern']">Invalid
                                                        format</small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Locality <small>*</small></label>
                                                <input formControlName="locality" type="text" id="locality"
                                                    name="locality">
                                                <div
                                                    *ngIf="checkoutForm.controls['locality'].invalid && (checkoutForm.controls['locality'].dirty || checkoutForm.controls['locality'].touched)">
                                                    <small class="error"
                                                        *ngIf="checkoutForm.controls['locality'].errors?.['required']">Locality
                                                        is
                                                        required.</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group d-flex justify-content-center mt-4">
                                            <button type="submit" data-bs-dismiss="modal"
                                                [disabled]="checkoutForm.invalid" class="button"
                                                style="width:20%;">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <!-- disaster register -->
            <div *ngIf="currentSection === 'section5'">
                <div *ngIf="myDonation.length > 0; else noRegistrations">
                    <div style="text-align: center;">
                        <h2 style="color:#973d93"> My Registrations</h2>
                    </div>
                    <br>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="2">Disaster Type</th>
                                    <th rowspan="2">Date</th>
                                    <th colspan="3" class="text-center">Fulfilled Dress</th>
                                    <th colspan="3" class="text-center">Required Dress</th>
                                </tr>
                                <tr>
                                    <th>Men</th>
                                    <th>Women</th>
                                    <th>Kids</th>
                                    <th>Men</th>
                                    <th>Women</th>
                                    <th>Kids</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of myDonation">
                                    <td>{{item.name | titlecase}}</td>
                                    <td>{{item.created_on | date:'dd-MM-yyyy'}}</td>
                                    <td>{{item.fulfilled_men_dresses}}</td>
                                    <td>{{item.fulfilled_women_dresses}}</td>
                                    <td>{{item.fulfilled_kids_dresses}}</td>
                                    <td>{{item.required_men_dresses}}</td>
                                    <td>{{item.required_women_dresses}}</td>
                                    <td>{{item.required_kids_dresses}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <ng-template #noRegistrations>
                <div class="rows">
                    <div class="cards">
                        <h1 class="h1">No records found</h1>

                    </div>
                </div>
            </ng-template>


            <div *ngIf="currentSection === 'section6'">
                <div *ngIf="donations.length > 0; else noDonation">
                    <div style="text-align: center;">
                        <h2 style="color:#973d93">My Donations</h2>
                    </div>
                    <div class="table-container">

                        <div class="table-responsive">
                            <table class="table table-bordered b-0 mt-4">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Disaster</th>
                                        <th rowspan="2">Donated On</th>
                                        <th colspan="3" class="text-center">Donated dresses</th>
                                    </tr>
                                    <tr>
                                        <th>Kids</th>
                                        <th>Men</th>
                                        <th>Women</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let donation of donations">
                                        <td>{{ donation.disaster_name }}</td>
                                        <td>{{ donation.donated_on | date }}</td>

                                        <td>{{ donation.kids_dresses }}</td>
                                        <td>{{ donation.men_dresses }}</td>
                                        <td>{{ donation.women_dresses }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <ng-template #noDonation>
                    <div class="rows">
                        <div class="cards">
                            <h1 class="h1">No records found</h1>

                        </div>
                    </div>
                </ng-template>

            </div>

        </div>
    </div>