<div class="container-fluid">
    <div class="row full-height">
        <div class="profile-detail col-12 col-md-4 col-lg-4">
            <div class="my-profile mt-2">
                <hr>
                <div class="detail" (click)="showSection('section1')"><b>My Profile</b></div>
                <div class="detail" (click)="showSection('section2')">Change password</div>
                <div class="detail" (click)="showSection('section3')">My Review</div>
                <div class="detail" (click)="showSection('section4')">Address</div>
            </div>
        </div>
        <div class="profile-edit col-12 col-md-8 col-lg-8 ml-4">
            <!-- Profile Section -->
            <div *ngIf="currentSection === 'section1'">
                <div class="container p-4" *ngIf="userData">
                    <div class="mt-2">
                        <div class="profile-header text-center">
                            <i class="bi bi-person-circle fs-1 text-primary"></i>
                            <div>
                                <h4 class="d-inline ms-2" style="color:#973d93">{{userData.username}}</h4>
                            </div>
                        </div>
                        <hr>
                        <form class="mt-4">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="username" class="form-label">First Name:</label>
                                        <input id="username" class="form-control" name="first_name"
                                            [(ngModel)]="userData.first_name" />
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="form-label">Email:</label>
                                        <input id="email" class="form-control" name="email"
                                            [(ngModel)]="userData.email" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="lastname" class="form-label">Last Name:</label>
                                        <input id="lastname" class="form-control" name="last_name"
                                            [(ngModel)]="userData.last_name" />
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class="form-label">Phone Number:</label>
                                        <input id="phone" class="form-control" name="mobile"
                                            [(ngModel)]="userData.mobile" />
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group d-flex justify-content-center mt-4">
                                <button type="button" (click)="onSubmit()" class="button"
                                    style="width:20%;">Edit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Password Change Section -->
            <div class="container-password" *ngIf="currentSection === 'section2'">
                <h2 class="my-4" style="color:#973d93">Password Change</h2>
                <hr>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="form-label" for="currentPassword">Current Password</label>
                            <input id="currentPassword" class="form-control" type="password" #currentPassword />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-label" for="newPassword">New Password</label>
                            <input id="newPassword" class="form-control" type="password" #newPassword />
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-center mt-4">
                        <button type="button"
                            (click)="changePassword({old_password: currentPassword.value, new_password: newPassword.value})"
                            class="button">Change Password</button>
                    </div>
                </form>

            </div>
            <!-- address section -->
            <div *ngIf="currentSection === 'section4'">
                <div *ngIf="addressMessage === 'failed'  else addressCard" id="addressFormContainer">
                    <form [formGroup]="checkoutForm" (ngSubmit)="addressCreated(checkoutForm.value)" class="mt-5">
                        <div class="col-12">
                            <label for="address">Building No & Name <small>*</small></label>
                            <input formControlName="address" type="text" id="address" name="address">
                            <div
                                *ngIf="checkoutForm.controls['address'].invalid && (checkoutForm.controls['address'].dirty || checkoutForm.controls['address'].touched)">
                                <small class="error"
                                    *ngIf="checkoutForm.controls['address'].errors?.['required']">Address is
                                    required.</small>
                            </div>
                        </div>

                        <div class="address-container">
                            <div class="col-6">
                                <label for="city">City <small>*</small></label>
                                <input formControlName="city" type="text" id="city" name="city">
                                <div
                                    *ngIf="checkoutForm.controls['city'].invalid && (checkoutForm.controls['city'].dirty || checkoutForm.controls['city'].touched)">
                                    <small class="error" *ngIf="checkoutForm.controls['city'].errors?.['required']">City
                                        is required.</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <label>State <small>*</small></label>
                                <input formControlName="state" type="text" id="state" name="state">
                                <div
                                    *ngIf="checkoutForm.controls['state'].invalid && (checkoutForm.controls['state'].dirty || checkoutForm.controls['state'].touched)">
                                    <small class="error"
                                        *ngIf="checkoutForm.controls['state'].errors?.['required']">State is
                                        required.</small>
                                </div>
                            </div>
                        </div>

                        <div class="address-container">
                            <div class="col-6">
                                <label>Landmark</label>
                                <input formControlName="landMark" type="text" id="landmark" name="landmark">
                            </div>
                            <div class="col-6">
                                <label for="pincode">Postal Code <small>*</small></label>
                                <input formControlName="pincode" type="text" id="postalCode" name="postalCode">
                                <div
                                    *ngIf="checkoutForm.controls['pincode'].invalid && (checkoutForm.controls['pincode'].dirty || checkoutForm.controls['pincode'].touched)">
                                    <small class="error"
                                        *ngIf="checkoutForm.controls['pincode'].errors?.['required']">Postal Code is
                                        required.</small>
                                    <small class="error"
                                        *ngIf="checkoutForm.controls['pincode'].errors?.['pattern']">Postal Code must be
                                        6 digits.</small>
                                </div>
                            </div>
                        </div>

                        <div class="address-container">
                            <div class="col-6">
                                <label>Mobile: <small>*</small></label>
                                <input formControlName="mobile" type="text" id="mobile" name="mobile">
                                <div
                                    *ngIf="checkoutForm.controls['mobile'].invalid && (checkoutForm.controls['mobile'].dirty || checkoutForm.controls['mobile'].touched)">
                                    <small class="error"
                                        *ngIf="checkoutForm.controls['mobile'].errors?.['required']">Mobile number is
                                        required.</small>
                                    <small class="error"
                                        *ngIf="checkoutForm.controls['mobile'].errors?.['pattern']">Invalid
                                        format</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <label>Locality <small>*</small></label>
                                <input formControlName="locality" type="text" id="locality" name="locality">
                                <div
                                    *ngIf="checkoutForm.controls['locality'].invalid && (checkoutForm.controls['locality'].dirty || checkoutForm.controls['locality'].touched)">
                                    <small class="error"
                                        *ngIf="checkoutForm.controls['locality'].errors?.['required']">Locality is
                                        required.</small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group d-flex justify-content-center mt-4">
                            <button type="submit" [disabled]="checkoutForm.invalid" class="button"
                                style="width:20%;">Add</button>
                        </div>
                    </form>
                </div>

                <ng-template #addressCard>
                    &nbsp;
                    <a class="add-new" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        add new
                    </a>
                    <div *ngFor="let item of addressList" class="card mb-3" style="max-width: 720px;">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p class="card-text"><strong>Building No & Name:</strong> {{ item.address }}</p>
                                    <p class="card-text"><strong>Mobile:</strong> {{ item.mobile }}</p>
                                    <p class="card-text"><strong>Locality:</strong> {{ item.locality }}</p>
                                    <p class="card-text"><strong>Landmark:</strong> {{ item.landmark }}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card-body">
                                    <p class="card-text"><strong>City:</strong> {{ item.city }}</p>
                                    <p class="card-text"><strong>State:</strong> {{ item.state }}</p>
                                    <p class="card-text"><strong>Postal Code:</strong> {{ item.pincode }}</p>
                                </div>
                            </div>
                            <div class="remove">
                                <i class="bi bi-trash3" style="cursor: pointer;" (click)="removeAddress(item.id)"></i>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="checkoutForm" (ngSubmit)="addressCreated(checkoutForm.value)" class="mt-5">
                                        <div class="col-12">
                                            <label for="address">Building No & Name <small>*</small></label>
                                            <input formControlName="address" type="text" id="address" name="address">
                                            <div
                                                *ngIf="checkoutForm.controls['address'].invalid && (checkoutForm.controls['address'].dirty || checkoutForm.controls['address'].touched)">
                                                <small class="error"
                                                    *ngIf="checkoutForm.controls['address'].errors?.['required']">Address is
                                                    required.</small>
                                            </div>
                                        </div>
                
                                        <div class="address-container">
                                            <div class="col-6">
                                                <label for="city">City <small>*</small></label>
                                                <input formControlName="city" type="text" id="city" name="city">
                                                <div
                                                    *ngIf="checkoutForm.controls['city'].invalid && (checkoutForm.controls['city'].dirty || checkoutForm.controls['city'].touched)">
                                                    <small class="error" *ngIf="checkoutForm.controls['city'].errors?.['required']">City
                                                        is required.</small>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label>State <small>*</small></label>
                                                <input formControlName="state" type="text" id="state" name="state">
                                                <div
                                                    *ngIf="checkoutForm.controls['state'].invalid && (checkoutForm.controls['state'].dirty || checkoutForm.controls['state'].touched)">
                                                    <small class="error"
                                                        *ngIf="checkoutForm.controls['state'].errors?.['required']">State is
                                                        required.</small>
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="address-container">
                                            <div class="col-6">
                                                <label>Landmark</label>
                                                <input formControlName="landMark" type="text" id="landmark" name="landmark">
                                            </div>
                                            <div class="col-6">
                                                <label for="pincode">Postal Code <small>*</small></label>
                                                <input formControlName="pincode" type="text" id="postalCode" name="postalCode">
                                                <div
                                                    *ngIf="checkoutForm.controls['pincode'].invalid && (checkoutForm.controls['pincode'].dirty || checkoutForm.controls['pincode'].touched)">
                                                    <small class="error"
                                                        *ngIf="checkoutForm.controls['pincode'].errors?.['required']">Postal Code is
                                                        required.</small>
                                                    <small class="error"
                                                        *ngIf="checkoutForm.controls['pincode'].errors?.['pattern']">Postal Code must be
                                                        6 digits.</small>
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="address-container">
                                            <div class="col-6">
                                                <label>Mobile: <small>*</small></label>
                                                <input formControlName="mobile" type="text" id="mobile" name="mobile">
                                                <div
                                                    *ngIf="checkoutForm.controls['mobile'].invalid && (checkoutForm.controls['mobile'].dirty || checkoutForm.controls['mobile'].touched)">
                                                    <small class="error"
                                                        *ngIf="checkoutForm.controls['mobile'].errors?.['required']">Mobile number is
                                                        required.</small>
                                                    <small class="error"
                                                        *ngIf="checkoutForm.controls['mobile'].errors?.['pattern']">Invalid
                                                        format</small>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <label>Locality <small>*</small></label>
                                                <input formControlName="locality" type="text" id="locality" name="locality">
                                                <div
                                                    *ngIf="checkoutForm.controls['locality'].invalid && (checkoutForm.controls['locality'].dirty || checkoutForm.controls['locality'].touched)">
                                                    <small class="error"
                                                        *ngIf="checkoutForm.controls['locality'].errors?.['required']">Locality is
                                                        required.</small>
                                                </div>
                                            </div>
                                        </div>
                
                                        <div class="form-group d-flex justify-content-center mt-4">
                                            <button type="submit" data-bs-dismiss="modal" [disabled]="checkoutForm.invalid" class="button"
                                                style="width:20%;">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </div>





        </div>
    </div>
</div>