/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";


.f4{
    font-size: 16px;
}
.btn-primary {
    background-color: #db89a4;
    border: none;
}

.btn-primary:hover {
    background-color:  rgb(204, 22, 134);
}