<div class="landing-part">
    <div class="banner">
        <!-- <img src="../../../assets/images/croped/banner2.jpg" alt="" routerLink="/shopping/shoppingDetails"> -->
        <!-- <button class="outfit-maker-button button">Outfit Maker</button> -->
        <img *ngIf="!imageLoaded" src="../../../assets/images/banner/image.png" alt="Loading..." class="loading-img" />
    </div>
    <div class="banner" *ngIf="banners?.data?.length">
        <div class="gradient-overlay"></div>
        <img [src]="banners.data[randomNumber].image" alt="" (load)="imageLoaded = true">
    </div>
    <div class="button-container">
        <button class="genderCategory  " [ngClass]="{'active': selectedGender === 'Men'}" (click)="selectGender('Men')">
            Men
        </button>
        <button class="genderCategory " [ngClass]="{'active': selectedGender === 'Women'}"
            (click)="selectGender('Women')">
            Women
        </button>
        <section class="category" *ngIf="selectedGender === 'Men'">
            <div *ngFor="let category of categories" class="sub-category">
                <img class="round-banner" [src]="category.image" alt="image" (click)="onCategoryClick(category)">
                <div>
                    <p>{{ category.name | titlecase }}</p>
                </div>
            </div>
        </section>
        <section class="category" *ngIf="selectedGender === 'Women'">
            <div *ngFor="let category of womensCategories" class="sub-category">
                <img class="round-banner" [src]="category.image" alt="image" (click)="onCategoryClick(category)">
                <p>{{ category.name | titlecase }}</p>
            </div>
        </section>
    </div>
    <!-- carousel -->
    <div class="mt-3">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 img-carousel" style="cursor: pointer;">
                            <img class="d-block w-100" src="./../../.././assets/images/banner/winter.jpeg"
                                alt="First slide image 1" (click)="onImageClick('season_winter')">
                        </div>
                        <div class="col-md-6 col-sm-12 img-carousel" style="cursor: pointer;">
                            <img class="d-block w-100" src="../../.././assets/images/banner/summer.jpeg"
                                alt="First slide image 2" (click)="onImageClick('season_summer')">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 img-carousel" style="cursor: pointer;">
                            <img class="d-block w-100" src="../../.././assets/images/banner/monsoon.jpeg"
                                alt="First slide image 2" (click)="onImageClick('season_mansoon')">
                        </div>
                        <div class="col-md-6 col-sm-12 img-carousel" style="cursor: pointer;">
                            <img class="d-block w-100" src="../../.././assets/images/banner/autumn.jpeg"
                                alt="First slide image 2" (click)="onImageClick('season_autumn')">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            </div>
        </div>

    </div>&nbsp;
    <!-- treanding -->
    <div class="top-rated-picks">
        <h3 class="mt-5 ">Top Rated Picks <i class="bi bi-fire" style="color: red;"></i></h3>
        <div class="marquee-container">
            <div class="marquee-wrapper">
                <div class="marquee" #marquee>
                    <div class="marquee-item" *ngFor="let item of trending">
                        <div class="image-container">
                            <img [src]="item.image" alt="{{ item.name }}" (click)="clicked(item)">
                            <div class="item-name">{{ item.name }}</div>
                        </div>
                    </div>
                    <!-- repeat -->
                    <!-- <div class="marquee-item" *ngFor="let item of trending">
                        <div class="image-container">
                            <img [src]="item.image" alt="{{ item.name }}" (click)="clicked(item)">
                            <div class="item-name">{{ item.name }}</div>

                        </div>

                    </div> -->
                </div>
            </div>
            <button class="prev" (click)="scrollLeft()">&#10094;</button>
            <button class="next" (click)="scrollRight()">&#10095;</button>
        </div>
    </div>
    <!-- partner -->
    <div class="partner-section d-flex flex-column align-items-center mt-4 mb-5">
        <h3 class="mt-2 mb-5">Trending Partners</h3>
        <div class="about-us row d-flex col-12 justify-content-center">


            <div class="Features col-12 col-sm-6 col-md-3 d-flex flex-column align-items-center mb-4">
                <img src="../../../assets/images/logos/SNITCH_LOGO_NEW_BLACK.webp" alt="">
                <!-- <div class="features-name mt-3">Outfit Maker</div> -->
            </div>
            <div class="Features col-12 col-sm-6 col-md-3 d-flex flex-column align-items-center mb-4">
                <img src="../../../assets/images/logos/images__1_-removebg-preview.png" alt="">
                <!-- <div class="features-name mt-3">Outfit Maker</div> -->
            </div>
            <div class="Features col-12 col-sm-6 col-md-3 d-flex flex-column align-items-center mb-4">
                <img src="../../../assets/images/logos/Logo1-Wrangler-removebg-preview.png" alt="">
                <!-- <div class="features-name mt-3">Outfit Maker</div> -->
            </div>
            <div class="Features col-12 col-sm-6 col-md-3 d-flex flex-column align-items-center mb-4">
                <img src="../../../assets/images/logos/park-avenue.png" alt="">
                <!-- <div class="features-name mt-3">Outfit Maker</div> -->
            </div>



        </div>
    </div>


    <div class="recommend-icon" (click)="toggleRecommendationsPopup()">
        <i class="bi bi-lightbulb"></i>
    </div>
    <!-- recommendation section -->
    <div *ngIf="isRecommendationsPopupOpen" class="recommendations-popup">
        <div class="popup-header">
            <h5>Style Recommendations</h5>
            <span class="close-btn" (click)="toggleRecommendationsPopup()">&times;</span>
        </div>
        <div class="popup-body">
            <!-- Quiz Form -->
            <div *ngIf="!isQuizCompleted && !recommandationDataLoaded">
                <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <!-- Current Question -->
                        <label><b>{{ questions[currentQuestionIndex].question }}</b></label>
                        <div *ngFor="let option of questions[currentQuestionIndex].options">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="answer"
                                    [value]="option.value" id="option{{ option.value }}" />
                                <label class="form-check-label" for="option{{ option.value }}">
                                    {{ option.display }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- Navigation Buttons -->
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" (click)="onPrevious()"
                            [disabled]="currentQuestionIndex === 0">Previous</button>
                        <button type="button" class="btn btn-primary" (click)="onNext()" [disabled]="!quizForm.valid"
                            *ngIf="currentQuestionIndex < questions.length - 1">Next</button>
                        <button type="submit" class="btn btn-success"
                            *ngIf="currentQuestionIndex === questions.length - 1">Submit</button>
                    </div>
                </form>
            </div>

            <!-- Processing Spinner -->
            <div class="processing-order" *ngIf="recommandationDataLoaded">
                <div class="processing-spinner">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Processing...</span>
                    </div>
                    <p class="mt-3">Processing, please wait...</p>
                </div>
            </div>

            <!-- Quiz Completed and Recommendations -->
            <div *ngIf="isQuizCompleted && !recommandationDataLoaded">
                <div class="image-container" *ngIf="recommendations.length > 0">
                    <h6>Here are some Hand picks for you</h6>
                    <div *ngFor="let product of recommendations">
                        <div class="image-item" style="cursor: pointer;">
                            <img [src]="product.image" alt="" height="50px" width="50px"
                                (click)="recommendationProducts(product)">
                        </div>
                    </div>
                </div>
                <div *ngIf="recommendations.length === 0" style="text-align: center;" class="mt-3">
                    we are under development,<br> can't process your request right now..
                </div>
            </div>
        </div>

    </div>
</div>



<ng-template #loader>
    <div class="loader">
        <img src="../../../assets/images/loaders/spinner.gif" alt="">
    </div>
</ng-template>