.container{
    text-align: center; 
    min-height: 80vh;
    /* padding: 40px 0; */
    /* background: #EBF0F5; */
}
.cards {
    background: white;
    padding: 60px;
    border-radius: 4px;
    /* box-shadow: 0 2px 3px #C8D0D8; */
    display: inline-block;
    margin: 0 auto;
  }
  .canceled-payment h1,.cancelmark{
      color: rgb(228, 25, 25);
  }
  i {
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
}
  